<!-- QQDD generated demo -->
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-twttr-rendered="true">

	<div class = "container">
		<h1>Demo Title</h1>
			<div class = "row">

				<div class = "span8">
					<div class = "hero-unit">
						<section id = "step-1">
			                <div class = "page-header"><h1>STEP1</h1>
			                </div>	
			                <p class = "lead">111</p>
			                <hr>
			            
						</section>
						
						<section id = "step-2">
		                	<div class = "page-header"><h1>STEP2</h1>
			                </div>	
			                <p class = "lead">222</p>
			                <hr>
			            
						</section>

						<section id = "step-3">
			                <div class = "page-header"><h1>STEP3</h1>
			                </div>	
			                <p class = "lead">333</p>
			                <hr>
			            
						</section>

						<section id = "step-4">
			                <div class = "page-header"><h1>STEP4</h1>
			                </div>	
			                <p class = "lead">444</p>
			                <hr>
			            
						</section>

						<section id = "step-5">
			                <div class = "page-header"><h1>STEP5</h1>
			                </div>	
			                <p class = "lead">555</p>
			                <hr>
						</section>				
			        </div>
				</div>
                

                <div class = "span2 bs-docs-sidebar pull-right">
				  
					<ul class = "nav nav-list bs-docs-sidenav affix">
					   		
							<li class = "nav-header">STEPS</li>
								<li><%= link_to "Step 1", "#step-1" %></li>
								<li><%= link_to "Step 2", "#step-2" %></li>
								<li><%= link_to "Step 3", "#step-3" %></li>
								<li><%= link_to "Step 4", "#step-4" %></li>
								<li><%= link_to "Step 5", "#step-5" %></li>
								<li><%= link_to "Step 6", "#" %></li>
								<li><%= link_to "Step 7", "#" %></li>
								<li><%= link_to "Step 8", "#" %></li>
					   
					</ul>
				  </div>					
				
			</div>
	</div>
</body>