<div class = "span2 bs-docs-sidebar pull-right">
				
	    <!--
	    <div class = "well">
			<li class = "nav-header">STEPS</li>
					<li><%= link_to "Step 1", '/step_1' %></li>
					<li><%= link_to "Step 2", '/step_2' %></li>
					<li><%= link_to "Step 3", '#' %></li>
					<li><%= link_to "Step 4", '#' %></li>
					<li><%= link_to "Step 5", '#' %></li>
					<li><%= link_to "Step 6", '#' %></li>
					<li><%= link_to "Step 7", '#' %></li>
					<li><%= link_to "Step 8", '#' %></li>
		</div>
	    
        
        <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">First<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Step 1", '/step_1' -%></li>
                    <li><%= link_to "Step 2", '/step_2' %></li>
                    <li><%= link_to "Step 3", '#' %></li>
                  </ul>
        </div>

        <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Second<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Step 1", '/step_1' -%></li>
                    <li><%= link_to "Step 2", '/step_2' %></li>
                    <li><%= link_to "Step 3", '#' %></li>
                  </ul>
        </div>

                <div class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Third<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Step 1", '/step_1' -%></li>
                    <li><%= link_to "Step 2", '/step_2' %></li>
                    <li><%= link_to "Step 3", '#' %></li>
                  </ul>
        </div>
     -->

  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </div>
      <div id="collapseOne" class="accordion-body collapse">
        <div class="accordion-inner">
          1111111111111111111
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
      </div>
      <div id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
          222222222222222222222
        </div>
      </div>
    </div>
  </div>

</div>
